<div class="header bg-gradient-primary pb-6 pt-6 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Lisitr'ireo mpiadina</h3>
        </div>
        <div class="col text-right">
          <button  class="btn btn-md btn-primary" (click)="openAddModal()">Mampiditra mpiadina</button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Anarana</th>
            <th scope="col">Fiangonana</th>
            <th scope="col">Foibe fanadinana</th>
            <th scope="col">Toerana nianarana</th>
            <th scope="col">Kilasy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mpiadina of listeMpiadina">
            <td scope="row">
              {{mpiadina?.anarana}}
            </td>
            <td>
              {{mpiadina?.fiangonana}}
            </td>
            <td>
              {{mpiadina?.foibe_fanadinana}}
            </td>
            <td>
              {{mpiadina?.toerana_nianarana}}
            </td>
            <td>
              {{mpiadina?.kilasy}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

